{% assign lang = page.lang | default: "en" %}
{% assign locale = site.data.i18n[lang] %}
{% if lang == "zh" %}
    {% assign profile = site.data.profile_zh %}
{% else %}
    {% assign profile = site.data.profile %}
{% endif %}
<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white section-card info-grid-card">
            <div class="card-body p-4">
                <div class="row info-grid-layout">
                    <div class="col-md-6 info-grid-col info-stack-col">
                        {% if profile.education %}
                        <div class="mx-2 my-1 info-panel">
                            <h6 class="panel-heading">{{ locale.sections.education }}</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in profile.education %}
                                <li class="media mb-1">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        {% if profile.service %}
                        <div class="mx-2 my-1 info-panel">
                            <h6 class="panel-heading">{{ locale.sections.academic_service }}</h6>
                            <ul class="list small pl-3 mb-1">
                                {% for item in profile.service %}
                                <li>
                                    <div>{{ item.name | markdownify | remove: '<p>' | remove: '</p>' | strip }}</div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>

                    <div class="col-md-6 info-grid-col info-stack-col">
                        {% if profile.experience %}
                        <div class="mx-2 my-1 info-panel">
                            <h6 class="panel-heading">{{ locale.sections.experience }}</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in profile.experience %}
                                <li class="media mb-1">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <div>{{ item.name }}</div>
                                        <div class="small">{{ item.dept }}</div>
                                        <div class="small d-flex">
                                            <div>{{ item.position }}</div>
                                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        {% if profile.awards %}
                        <div class="mx-2 my-1 info-panel">
                            <h6 class="panel-heading">{{ locale.sections.honors_awards }}</h6>
                            <ul class="list small pl-3 mb-1">
                                {% for item in profile.awards %}
                                <li>
                                    <div class="d-flex">
                                        <div>{{ item.name }}</div>
                                        <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
